* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(23, 5, 48, 0.539);
  color: white;
  margin-bottom: 15px;
  top: 0;
  align-items: center;
}
header button{
  background-color:rgb(151, 123, 90) ;
  color: black;
}